<form method="POST">
    <label>Seat:
        <input type="text"name="seat" required pattern="[A-F][1-9]\d?">
    </label>
    <label>Price:</label>
    <input 
    type="text"
    name="Price"
    value="0"/>
    <label for="flight">Flight #</label>
<input type="submit"  id="ticket">
</form>