<!DOCTYPE html>
<html>
    <head>
        <title>Flights</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <a href="/">Home</a>
        |
        <a href="/flights/new">Add a Flight!</a>
    </head>
    <body>
