body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h4 {
  font-size: 20px;
  color: purple;
  text-align: center;
}

a {
  color: #00B7FF;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  text-align: center;
}

/* Style the show-page section */
#show-page {
  margin: 20px auto;
  padding: 20px;
}

/* Style the individual elements within the show-page section */
#show-page div {
  margin-bottom: 10px;
  text-align: left;
}

/* Style labels */
#show-page div:nth-child(odd) {
  font-weight: bold;
  color: #555;
}

/* Style data */
#show-page div:nth-child(even) {
  color: #333;
}